#title{
  text-align: center;
}
#square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#boardgame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 320px;
  margin: 0 auto;
}
